@media (max-width: 480px) {
    * {
        margin: 0;
        padding: 0;
        white-space: nowrap;
        font-family: 'Gotham';
    }
    html {
        height: 100vh;
    }

    body {
        grid-template-rows: 1fr 9fr;
        width: 100vw;
        height: 100%;
        overflow: hidden;
        overflow-y: scroll;
        zoom: 1;
    }

    #menu {
        grid-row: 1/2;
    }
    #menu li a {
        font-size: 1.6rem;
        text-align: center;
        vertical-align: center;
    }

    #menu ul {
        margin-right: 4rem;
    }

    #menu li a:hover {
        color: #000;
        font-size: 1.7rem;
    }
    #menu ul li{
        padding-left: 1.5rem;
        text-wrap: nowrap;
        height: 100%;
        vertical-align: baseline;
    }

    #menu #logoImg {
        width: 40px;
        height: 70px;
    }

    #menu #logo {
        font-size: 2rem;
        margin-left: 1rem;
    }

    #menu p {
        margin-left: 2px;
    }

    #meuPerfil img{
        width: 30px;
        margin-bottom: -5px;
        margin-right: -2rem;
    }

    #meuPerfil img:hover {
        width: 35px;
    }

    #left, #woman {
        display: none;
    }

    #main {
        max-width: 100vw;
        height: 100%;
        grid-template-columns: 1fr;
        align-items: flex-start;
    }

    #rigth {
        position: relative;
        display: flex;
        grid-row: 2/3;
        grid-column: 1/2;
        height: 100%;
        max-width: 100vw;
        justify-content: center;
        align-items: center;
        top: -4rem;
    }

    #tableLinhas {
        position: relative;
        width: 90%;
        height: 100%;
        margin: 0 2rem 0 2rem;
        border-radius: 3rem;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    #tableLinhas h1 {
        width: 100%;
        font-size: 2.5rem;
        padding: 2rem 0 1rem 0;
    }

    #tableHead td{
        font-size: 2rem;
        padding: 5px;
    }

    table {
        position: relative;
        left: 1.5rem;
        width: 100%;
    }


    tr {
      height: 1rem;
      width: 100%;
    }

    table td {
        font-size: 1.4rem;
        font-weight: bolder;
        width: 100%;
        padding: 5px;
        text-wrap: wrap;
    }

    .plus button {
        position: relative;
        left: -.5rem;
        width: 60%;
        height: 60%;
        padding: 15px;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 15px;
    }

    .plus img {
        height: 30px;
        width: 30px;
    } 

    #btnMore {
        width: 50%;
        font-size: 1.8rem;
        text-wrap: nowrap;
        margin: 0 auto;
    }

    #btnMore:hover {
        font-size: 1.9rem;
    }

    #footer {
        grid-row: 3/4;
    }
}

@media (max-width: 1000px) {
    body {
      display: flex;
      flex-direction: column;
      max-height: 100vh;
    }
    #main {
      align-self: center;
      justify-self: center;
      height: 80%;
    }
    #rigth {
        display: flex;
        width: 100vw;
        height: 100%;
        justify-content: center;
        align-items: center;
    }
    #left {
      display: none;
    }
    #footer {
      position: absolute;
      bottom: 0;
      align-self: center;
    }
  }