/* 320 - 800 */
@media (max-width: 428px) {
    body {
        grid-template-rows: 1fr;
        grid-template-columns: 1fr;
        max-width: 100%;
        overflow-y: scroll;
    }
    #menu {
        grid-row: 0/1;
        font-size: 1.2rem;
        justify-content: center;
        width: 100vw;
        display: grid;
    }
    #menu img {
        width: 120px;
        height: 80px;
        padding: 0;
    }
    #menu #logo {
        display: flex;
        justify-content: flex-start;
    }
    #menu #logo p {
        font-size: 3rem;
    }
    #menu ul {
        margin-right: 0rem;
        padding: 5px;
        justify-content: center;
    }
    #menu ul li {
        padding-left: 8px;
    }
    #menu li a {
        font-size: 1.3rem;
        font-weight: bold;
        text-wrap: nowrap;
    }
    #menu li a:hover {
        color: #000;
        font-size: 1.4rem;
        transition: .3s;
    }
    #main {
        grid-template-rows: 1fr 1fr;
        grid-row: 2/3;
    }
    #left {
        grid-row: 1/2;
        grid-column: 1/3;
        width: 100%;
        padding: 50px 0px 0rem 2rem;
    }
    #left h4 {
        font-size: 5rem;
        width: 90vw;
    }
    #left p{
        width: 80vw;
        font-size: 1.6rem;
        margin-top: 10px;
    }
    #left #btnVisualizar {
        width: 70vw;
        height: 50px;
        font-size: 1.8rem;
    }
    #rigth {
        grid-row: 2/3;
        grid-column: 1/2;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 0px 10px;
    }
    #onibus {
        width: 80vw;
        height: min-content;
        overflow: hidden;
    }
    #blob {
        display: none;
    }
    #footer {
        grid-row: 3/4;
    }
    @keyframes mover {
        0% {
            left: 0;
        }
        20% {
            left: 10px;
        } 
        25% {
            left: 20px;
        }
        30% {
            left: 30px;
        }
        50% {
            left: 40px;
        }
        60% {
            left: 30px;
        }
        75% {
            left: 20px;
        }
        80% {
            left: 10px;
        }
        100% {
            left: 0;
        }
    }
}